[Unit]
Description=Gunicorn daemon for FastAPI
Requires=gunicorn.socket
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/social
ExecStart=/home/ubuntu/social/venv/bin/gunicorn \
          --access-logfile - \
          --workers 3 \
          --bind unix:/run/gunicorn.sock \
          -k uvicorn.workers.UvicornWorker \
          core.main:app

[Install]
WantedBy=multi-user.target
